body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: blue;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}
